/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common styles for red-border and red-button */
.red-border:focus,
.red-border:active,
.red-border:hover,
.red-button:focus,
.red-button:active,
.red-button:hover {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dc3545 !important;
}

.red-border {
    border: 1px solid #4950575b !important;
}

/* Body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centered text */
.center {
    text-align: center;
}

/* Red button styles */
.red-button {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
    margin: 0.5em 0;
    width: 50%;
}

/* Heading styles */
.heading {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bolder;
}

/* Container styles */
.container-fluid {
    border: 1px solid #dc3545;
    margin: 1em auto;
    border-radius: 0.2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    max-width: 95vw;
}

/* ID-specific styles */
#phone {
    border-radius: 0 0.3em 0.3em 0;
}

/* Services styles */
.services {
    display: flex;
    flex-direction: column;
}

.service-item {
    margin-left: 0.5em;
}

.service-item>label {
    padding: 0.5em;
}

/* WhatsApp Consent styles */
.whatsappConsent,
.form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 2em !important;
}

/* fieldset {
    margin-bottom: 20px !important;
} */